/* Navbar start */

.btn-link{
    color: #000 !important;
    transition: 0.5s ease !important;
}
.btn-link:hover{
    background-color: #000 !important;
    color: #ffffff !important;
}
.link{
    background: #000 !important;
    padding: 5px 10px !important;
    border-radius: 20px !important;
    color: #fff !important;
    transition: 0.5s;
}
.link:hover{
    color: #ccc !important;
}

/* Navbar end */


/* Tag only (home.html) start*/

.user-col{
    margin-top: -50px; 
    padding: 1.5em;
}
.user-info{
    text-align: center;
    font-size: 1.5em;
}
.btn_filtrar {

    border: none;
    background-color: transparent;
    border: 2px solid #000000;
    color: #000000;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    transition: 0.5s;
}
.btn_filtrar:hover {
    background-color: #000;
    color: #fff;
}

/* Tag only (home.html) end*/

/* Cards Imoveis start */

.card_imovel {
    background-color: #050505;
    width: 100%;
    border-radius: 6px;
}
.img_capa_imovel {
    width: 100%;
    border-radius: 6px;
}
.informacoes_imoveis {
    padding: 20px;
    color: white;
}
.valor {
    font-weight: bold;
    border-bottom: 1px solid white;
}
.a_none {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.a_none:hover {

    text-decoration: none;
    color: rgb(155, 155, 155);

}

/* Cards Imoveis end */

/* Modal start */

.titulo_filtrar {

    color: #000000;
    font-weight: bold;
    font-size: 30px;

}
.btn_filtrar_modal {

    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    transition: 0.5s;
}
.btn_filtrar_modal:hover {
    background-color: #000000;
    color: #fff;
}

/* Modal end */

/*Tag only (imovel.html) start*/

.titulo_especificacao {
    color: #000000;
    font-weight: bold;
    margin-top: 20px;
    font-size: 25px;
    margin-left: -15px;
}
.titulo_interesse {
    color: #000000;
    font-weight: bold;
    margin-top: 30px;
    font-size: 30px;
    margin-left: -15px;
}
.especificacao {
    text-align: center;
    margin-top: -9px;
    font-size: 25px;
    font-weight: bold;
}
.especificacao_endereco {
    font-size: 18px;
}
.btn_agendar_visita {

    border: 2px solid #000000;
    background-color: #000000;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px 5px 10px;

}
.div_possivel_interesse {
    text-align: left;
}
.btn_agendar {

    border: none;
    background-color: #000000;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px 5px 10px;

}


.btn_agendar:hover {

    text-decoration: none;
    color: white;

}

/*Tag only (imovel.html) end*/

/* Footer start*/

.bg_dark{
    background-color: #000 !important;
}
.text_light{
    color: #fff !important;
}
.btn-dark{
    background-color: transparent !important;
    border-color: #fff !important;
    transition: 0.3s;
}
.btn-dark:hover{
    background-color: #fff !important;
    color: #000 !important;
}

/* Footer end*/
