@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',
        sans-serif;
    text-decoration: none;
}

.carousel-slide{
    width: 50%;
}

.back-dark{
    background-color: #050505;
}

.bg_navbar {
    background-image: linear-gradient(to right, #252525 0%, black 100%);
}

.font_logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    display: inline;

}

.user-col{
    margin-top: -50px; 
    padding: 1.5em;
}

.user-info{
    text-align: center;
    font-size: 1.5em;
}

.card_imovel {
    background-color: #050505;
    width: 100%;
    border-radius: 6px;
}

.card_imovel_interesse {
    background-color: #050505;
    width: 500px;
    border-radius: 6px;
}

.img_capa_imovel {
    width: 100%;
    border-radius: 6px;
}

.img_capa_imovel_interesse {
    margin: 5px;
    padding: 2px 5px;
    width: 100%;
    border-radius: 6px;
}

.informacoes_imoveis {
    padding: 20px;
    color: white;
}

.informacoes_imoveis_interesse {
    margin-top: 8px;
    margin-left: -8px;
    padding: 2px 5px;
    color: white;
}

.valor {
    font-weight: bold;
    border-bottom: 1px solid white;
}

.btn_filtrar {

    border: none;
    background-color: transparent;
    border: 2px solid #000000;
    color: #000000;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    transition: 0.5s;
}

.btn_filtrar:hover {
    background-color: #000;
    color: #fff;
}

.titulo_filtrar {

    color: #000000;
    font-weight: bold;
    font-size: 30px;

}

.btn_filtrar_modal {

    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    transition: 0.5s;
}

.btn_filtrar_modal:hover {
    background-color: #000000;
    color: #fff;
}

.a_none {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.a_none:hover {

    text-decoration: none;
    color: rgb(155, 155, 155);

}

.titulo_especificacao {
    color: #000000;
    font-weight: bold;
    margin-top: 20px;
    font-size: 25px;
    margin-left: -15px;
}

.titulo_interesse {
    color: #000000;
    font-weight: bold;
    margin-top: 30px;
    font-size: 30px;
    margin-left: -15px;
}

.especificacao {
    text-align: center;
    margin-top: -9px;
    font-size: 25px;
    font-weight: bold;
}

.especificacao_endereco {
    font-size: 18px;
}

.btn_agendar_visita {

    border: 2px solid #000000;
    background-color: #000000;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px 5px 10px;

}

.div_possivel_interesse {
    text-align: left;
}

.btn_agendar {

    border: none;
    background-color: #000000;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px 5px 10px;

}

.btn_agendar:hover {

    text-decoration: none;
    color: white;

}

.link-contact{
    text-decoration: none;
}
