{% load static %}
{% block 'head' %}
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reset - senha completa</title>
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'autenticacao/css/style.css' %}">
    <link rel="stylesheet"
          href="{% static 'autenticacao/css/bootstrap/owl.carousel.min.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="{% static 'autenticacao/css/bootstrap/bootstrap.min.css' %}">
{% endblock %}
{% block 'body' %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                Sua senha foi resetada com sucesso
                <br>
                <a href="{% url 'logar' %}">CLIQUE AQUI</a> para acessar sua conta.
            </div>
        </div>
    </div>
</div>



{% endblock %}