{% load static %}
{% block 'head' %}
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reset - senha completa</title>
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'autenticacao/css/style.css' %}">
    <link rel="stylesheet"
          href="{% static 'autenticacao/css/bootstrap/owl.carousel.min.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="{% static 'autenticacao/css/bootstrap/bootstrap.min.css' %}">
{% endblock %}
{% block 'body' %}
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="mx-auto text-center form-group">
                    <form action="{% url 'password_reset' %}" method="POST" name="f1">
                        {% csrf_token %}
                        <div class="form-group">
                            {% comment %} {% if form.errors %}{{ form.errors }}{% endif %} {% endcomment %}
                            <label for="email"></label>
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   name="email"
                                   placeholder="Email"
                                   onblur="validacaoEmail(f1.email)">
                        </div>
                        <div id="msgemail"></div>
                        {% comment %} {{ form }} {% endcomment %}
                        <input type="submit" value="Recuperar" class="btn btn-primary btn-lg">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function validacaoEmail(field) {
            usuario = field.value.substring(0, field.value.indexOf("@"));
            dominio = field.value.substring(field.value.indexOf("@")+ 1, field.value.length);
            if ((usuario.length >=1) &&
                (dominio.length >=3) &&
                (usuario.search("@")==-1) &&
                (dominio.search("@")==-1) &&
                (usuario.search(" ")==-1) &&
                (dominio.search(" ")==-1) &&
                (dominio.search(".")!=-1) &&
                (dominio.indexOf(".") >=1)&&
                (dominio.lastIndexOf(".") < dominio.length - 1)) {
                document.getElementById("msgemail").innerHTML="<div class='alert alert-success' role='alert'>" + "<div class='text-center'>" + "<i class='fas fa-exclamation-triangle fs-5'></i>" + "<span class='ms-3 fs-5'>E-mail valido</span>" + "</div>" + "</div>"
            }else{
             document.getElementById("msgemail").innerHTML="<div class='alert alert-danger' role='alert'>" + "<div class='text-center'>" + "<i class='fas fa-exclamation-triangle fs-5'></i>" + "<span class='ms-3 fs-5'>E-mail invalido</span>" + "</div>" + "</div>"
            }
        }
    </script>
{% endblock %}
