{% load static %}
{% block 'head' %}
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reset - senha completa</title>
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'autenticacao/css/style.css' %}">
    <link rel="stylesheet"
          href="{% static 'autenticacao/css/bootstrap/owl.carousel.min.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="{% static 'autenticacao/css/bootstrap/bootstrap.min.css' %}">
{% endblock %}
{% block 'body' %}
<div class="content">
    <div class="container">
        <div class="row">
            <form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}
                {{ form }}
                <input type="submit" value="Recuperar" class="btn btn-primary btn-lg">
                {% if form.errors %}{{ form.errors }}{% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}


