{% load static %}
{% block 'head' %}
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reset - senha completa</title>
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'autenticacao/css/style.css' %}">
    <link rel="stylesheet"
          href="{% static 'autenticacao/css/bootstrap/owl.carousel.min.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="{% static 'autenticacao/css/bootstrap/bootstrap.min.css' %}">
{% endblock %}
{% block 'body' %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <form action="" method="POST">{%csrf_token%}
                    {{form}}
                    <input type="submit" value="enviar" class="btn btn-primary">
                    {% comment %} {% if form.errors %}
                        {{form.errors}}
                    {% endif %} {% endcomment %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}