{% load static %}
{% block 'head' %}
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cadastre-se</title>
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'autenticacao/css/style.css' %}">
    <link rel="stylesheet"
          href="{% static 'autenticacao/css/bootstrap/owl.carousel.min.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="{% static 'autenticacao/css/bootstrap/bootstrap.min.css' %}">
{% endblock %}
{% block 'body' %}
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'autenticacao/img/bg_entrar.gif' %}"
                         alt="Image"
                         class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                {% if messages %}
                                    {% for message in messages %}<div class="alert {{ message.tags }}">{{ message }}</div>{% endfor %}
                                {% endif %}
                                <h3>Registre-se na ImobiBR</h3>
                                <p class="mb-4">
                                    Explore os mais diversos imóveis aqui na <span class="logo">ImobiBR!</span>
                                </p>
                            </div>
                            <form action="{% url 'cadastro' %}" method="post">{% csrf_token %}
                                <div class="form-group first">
                                    <label for="username"></label>
                                    <input type="text"
                                           class="form-control"
                                           id="username"
                                           name="username"
                                           placeholder="Usuário">
                                </div>
                                <div class="form-group">
                                    <label for="email"></label>
                                    <input type="email"
                                           class="form-control"
                                           id="email"
                                           name="email"
                                           placeholder="Email">
                                </div>
                                <div class="form-group last mb-3">
                                    <label for="password"></label>
                                    <input type="password"
                                           class="form-control"
                                           id="password"
                                           name="senha"
                                           placeholder="Senha">
                                </div>
                                <div class="d-flex mb-2 align-items-center">
                                    <span class="ml-auto"><a href="{% url 'logar' %}" class="forgot-pass">Já tem uma conta?</a></span>
                                </div>
                                <input type="submit" value="Cadastrar" class="btn btn-block btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
{% endblock %}
