{% load static %}
{% block 'head' %}
<!-- Style -->
<link rel="stylesheet" href="{% static 'autenticacao/css/style_404.css' %}">

<link rel="stylesheet" href="{% static 'plataforma/vendors/owl-carousel/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'plataforma/vendors/owl-carousel/css/owl.theme.default.css' %}">
<link rel="stylesheet" href="{% static 'plataforma/vendors/mdi/css/materialdesignicons.min.css' %}">
<link rel="stylesheet" href="{% static 'plataforma/vendors/aos/css/aos.css' %}">
<link rel="stylesheet" href="{% static 'plataforma/css/style.min.css' %}">
<link rel="stylesheet" href="{% static 'plataforma/css/home.css' %}">
{% endblock %}
{% block 'body' %}

    {% comment %} <div class="text-center mt-5">
        <a href="{% url 'index' %}" >
            <button class="btn btn-secondary font-weight-bold" >Voltar</button>
        </a>
    <div> {% endcomment %}

  <script src="{% static 'plataforma/vendors/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'plataforma/vendors/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'plataforma/vendors/owl-carousel/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'plataforma/vendors/aos/js/aos.js' %}"></script>
  <script src="{% static 'plataforma/js/landingpage.js' %}"></script>
{% endblock %}