{% load static %}
{% block 'head' %}
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ImobibR - Inicío</title>
    <!--Styles, Bootstrap-->
    <link rel="stylesheet" href="{% static 'plataforma/css/my_styles/style.css' %}">
    <link rel="stylesheet"
          href="{% static 'plataforma/vendors/owl-carousel/css/owl.carousel.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'plataforma/vendors/owl-carousel/css/owl.theme.default.css' %}">
    <link rel="stylesheet"
          href="{% static 'plataforma/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'plataforma/vendors/aos/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'plataforma/css/bootstrap/style.min.css' %}">
{% endblock  %}
{% block 'body' %}
    <body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
        <header id="header-section">
            <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
                <div class="container">
                    <div class="navbar-brand-wrapper d-flex w-100">
                        <img src="{% static 'plataforma\img\logo.svg' %}" alt="Logo">
                        <button class="navbar-toggler ml-auto"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="mdi mdi-menu navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse navbar-menu-wrapper"
                         id="navbarSupportedContent">
                        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
                            <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
                                <div class="navbar-collapse-logo">
                                    <img src="{% static 'plataforma\img\logo.svg' %}" alt="Logo">
                                </div>
                                <button class="navbar-toggler close-button"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent"
                                        aria-expanded="false"
                                        aria-label="Toggle navigation">
                                    <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
                                </button>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'index' %}">Início</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#header-section">Terms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'index' %}">Serviços</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'index' %}">Creators</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="col-lg-12 mb-5 p-5">
                <section class="mt-5 ">
                    <h1>Privacy Policy for ImobiBR</h1>
                    <p>
                        At imobiBR, accessible from https://imobibr.pythonanywhere.com/, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by imobiBR and how we use it.
                    </p>
                    <p>
                        If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us. Our Privacy Policy was created with the help of the <a href="https://www.generateprivacypolicy.com">Privacy Policy Generator</a>.
                    </p>
                </section>
                <section class="mt-4">
                    <h2>Log Files</h2>
                    <p>
                        imobiBR follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.
                    </p>
                </section>
                <section class="mt-4">
                    <h2>Cookies and Web Beacons</h2>
                    <p>
                        Like any other website, imobiBR uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.
                    </p>
                    <p>
                        For more general information on cookies, please read <a href="https://www.generateprivacypolicy.com/#cookies"
    class="readmore-link px-1">"Cookies" article from the Privacy Policy Generator</a>.
                    </p>
                </section>
                <section class="mt-4">
                    <h2>Google DoubleClick DART Cookie</h2>
                    <p>
                        Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to www.website.com and other sites on the internet. However, visitors may choose to decline the use of DART cookies by visiting the Google ad and content network Privacy Policy at the following URL – <a href="https://policies.google.com/technologies/ads">Policies Technologies.</a>
                    </p>
                </section>
                <section class="mt-4">
                    <h2>Our Advertising Partners</h2>
                    <p>
                        Some of advertisers on our site may use cookies and web beacons. Our advertising partners are listed below. Each of our advertising partners has their own Privacy Policy for their policies on user data. For easier access, we hyperlinked to their Privacy Policies below.
                    </p>
                    <ul>
                        <li>
                            <p>
                                Google
                            </p>
                            <p>
                                <a href="https://policies.google.com/technologies/ads">Policies Technologies.</a>
                            </p>
                        </li>
                    </ul>
                </section>
                <section class="mt-4">
                    <h2>Privacy Policies</h2>
                    <P>
                        You may consult this list to find the Privacy Policy for each of the advertising partners of imobiBR.
                    </p>
                    <p>
                        Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on imobiBR, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.
                    </p>
                    <p>
                        Note that imobiBR has no access to or control over these cookies that are used by third-party advertisers.
                    </p>
                    <h2>Third Party Privacy Policies</h2>
                    <p>
                        imobiBR's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options.
                    </p>
                    <p>
                        You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites. What Are Cookies?
                    </p>
                    <h2>Children's Information</h2>
                    <p>
                        Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.
                    </p>
                    <p>
                        imobiBR does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.
                    </p>
                </section>
                <section class="mt-4">
                    <h2>Online Privacy Policy Only</h2>
                    <p>
                        This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in imobiBR. This policy is not applicable to any information collected offline or via channels other than this website.
                    </p>
                </section>
                <section class="mt-4">
                    <h2>Consent</h2>
                    <p>
                        By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.
                    </p>
                </section>
            </div>
        </div>
        <footer class="border-top">
            <p class="text-center text-muted pt-4">
                Copyright © 2022<a href="{% url 'index' %}" class="px-1">ImobiBR.</a>All rights reserved.
            </p>
        </footer>
        <!--Jquery, Owl e Bootstrap-->
        <script src="{% static 'plataforma/vendors/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'plataforma/vendors/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'plataforma/vendors/owl-carousel/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'plataforma/vendors/aos/js/aos.js' %}"></script>
        <script src="{% static 'plataforma/js/landingpage.js' %}"></script>
    </body>
{% endblock %}
