{% extends 'base.html' %}
{% load static %}

{% block 'head' %}

<link rel="stylesheet" href="{% static 'plataforma/css/home.css' %}">

{% endblock  %}

{% block 'body' %}

<div class="container me-auto">
  <br>
    <button type="button" class="btn_filtrar" data-toggle="modal"
    data-target="#exampleModal">
    FILTRAR
    </button>

    <div class="user-col mt-1">
      <p class="user-info">Seja bem vindo(a) <span class="text-uppercase fw-bold">{{user.username}}</span>!</p>
    </div>
  <div class="row">

    {% for imovel in page.object_list %}
      
        <div class="col-12 col-md-4 p-2">
          <div class="card_imovel">
            <img class="img_capa_imovel" src="{{imovel.imagens.all.0.img.url}}">
            <div class="informacoes_imoveis">
              <a class="a_none" href="{% url 'imovel' imovel.id %}"><h4 class="valor">R$ {{imovel.valor}}</h4></a>
              <p>{{imovel.rua}}, {{imovel.cidade}}</p>
              <br>
              <img width="7%" src="{% static 'plataforma/img/heart.png' %}">
            </div>
          
          </div>

        </div>
      
    {% endfor %}

  </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title titulo_filtrar" id="exampleModalLabel">FILTRAR</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          {% comment %} <span aria-hidden="true">&times;</span> {% endcomment %}
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'home' %}" method="GET">
          <label>Preço mínimo</label>
          <br>
          <input name="preco_minimo" class="form-control" type="number" placeholder="R$ 00">

          <br>

          <label>Preço máximo</label>
          <br>
          <input name="preco_maximo" class="form-control" type="number" placeholder="R$ 200000000">

          <br>

          <label>Cidade</label>
          <br>
          <select name="cidade" class="form-control">
            {% for cidade in cidades %}
              <option value="{{cidade.id}}">{{cidade.nome}}</option>
            
            {% endfor %}    
          </select>

          <br>

          <label>Tipo</label>
          <br>

          <input name="tipo" type="checkbox" value="A"><label>&nbspApartamento</label>
          <br>
          <input name="tipo" type="checkbox" value="C"><label>&nbspCasa</label>
          <br>
          <br>
          <input class="btn_filtrar_modal" type="submit" value="FILTRAR">
        </form>
      </div>
      
    </div>
  </div>
</div>

        <nav class="mt-5 mb-5">
          
          <ul class="pagination justify-content-center">

            {% if page.has_previous %}
              <li class="page-item">
                <a class="page-link bg-dark" href="{% url 'home' %}?page={{ page.previous_page_number }}">Previous</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link bg-dark" href="#">Previous</a>
              </li>
            {%endif %}

            {% if page.has_next %}
              <li class="page-item">
                <a class="page-link bg-dark" href="{% url 'home' %}?page={{ page.next_page_number }}">Next</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link bg-dark" href="">Next</a>
              </li>
            {%endif %}

          </ul>
        </nav>
        
          <!-- Footer -->
          <footer class="back-dark text-center text-white mt-4">
            <!-- Grid container -->
            <div class="container p-4">
              <!-- Section: Social media -->
              <section class="mb-4">
                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-instagram"></i
                ></a>
      
                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
      
                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-github"></i
                ></a>
              </section>
              <!-- Section: Social media -->
      
              <!-- Section: Links -->
              <section class="text-center">
                <!--Grid row-->
                <div class="row">

      
                  <!--Grid column-->
                  <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-capitalize">Compania imobiBR</h5>
      
                    <ul class="list-unstyled mb-0">
                      <li class="mt-2">
                        <a href="#!" class="text-white link-contact">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum harum corrupti dicta, aliquam sequi voluptate quas.
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!--Grid column-->
                  <!--Grid column-->
                  <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contato</h5>
      
                    <ul class="list-unstyled mb-0">
                      <li class="mt-2">
                        <a href="#" class="text-white link-contact"><i class="fas fa-home me-3"></i> Rua Azefredo, SP, Brasil</a>
                      </li>
                      <li  class="mt-1">
                        <a href="#" class="text-white link-contact"><i class="fas fa-envelope me-3"></i>
                          imobibr@org.com</a>
                      </li>
                      <li class="mt-1">
                        <a href="#" class="text-white link-contact"><i class="fas fa-phone me-3"></i> + 55 11 94521-4521</a>
                      </li>
                    </ul>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->
              </section>
              <!-- Section: Links -->
            </div>
            <!-- Grid container -->
      
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2021 Copyright
              <a class="text-white" href="">imobibr.com</a>
            </div>
            <!-- Copyright -->
          </footer>
          <!-- Footer -->

{% endblock %}