{% load static %}
<!Doctype html>
<html lang="pt-BR">
    <head>
        {% block 'head' %}{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block 'titulo' %}{% endblock %}
        </title>
        <link rel="stylesheet"
              href="{% static 'plataforma/vendors/owl-carousel/css/owl.carousel.min.css' %}">
        <link rel="stylesheet"
              href="{% static 'plataforma/vendors/owl-carousel/css/owl.theme.default.css' %}">
        <link rel="stylesheet"
              href="{% static 'plataforma/vendors/mdi/css/materialdesignicons.min.css' %}">
        <link rel="stylesheet"
              href="{% static 'plataforma/vendors/aos/css/aos.css' %}">
        <link rel="stylesheet" href="{% static 'plataforma/css/bootstrap/style.min.css' %}">
        <link rel="stylesheet" href="{% static 'plataforma/css/preloaders/preloader.css' %}">
        <link rel="stylesheet" href="{% static 'plataforma/css/my_styles/style.css' %}">
    </head>
    <body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
        <div class="loader-wrapper">
            <div class="loader">
                <svg viewBox="0 0 80 80">
                    <circle id="test" cx="40" cy="40" r="32"></circle>
                </svg>
            </div>
            <div class="loader triangle">
                <svg viewBox="0 0 86 80">
                    <polygon points="43 8 79 72 7 72"></polygon>
                </svg>
            </div>
            <div class="loader">
                <svg viewBox="0 0 80 80">
                    <rect x="8" y="8" width="64" height="64"></rect>
                </svg>
            </div>
        </div>
        <div class="display">
            <header id="header-section ">
                <nav class="navbar navbar-expand-lg  bg_dark" id="navbar">
                    <div class="container ">
                        <div class="navbar-brand-wrapper d-flex w-100">
                            <img src="{% static 'plataforma\img\logo-invert.svg' %}" alt="Logo">
                            <button class="navbar-toggler ml-auto text-white"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#navbarSupportedContent"
                                    aria-controls="navbarSupportedContent"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="mdi mdi-menu navbar-toggler-icon toggle"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse navbar-menu-wrapper "
                             id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
                                <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
                                    <div class="navbar-collapse-logo">
                                        <img src="{% static 'plataforma\img\logo.svg' %}" alt="Logo">
                                    </div>
                                    <button class="navbar-toggler close-button"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#navbarSupportedContent"
                                            aria-controls="navbarSupportedContent"
                                            aria-expanded="false"
                                            aria-label="Toggle navigation">
                                        <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link" href="{% url 'index' %}">Inicío <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link" href="{% url 'home' %}">Imoveis <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link" href="{% url 'agendamentos' %}">Agendamento</a>
                                </li>
                                {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link link" href="{% url 'sair' %}">Sair</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link link" href="{% url 'logar' %}">Cadastrar/Entrar</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </div>
        {% block 'body' %}{% endblock %}
        <script src="https://kit.fontawesome.com/dae11ab094.js" crossorigin="anonymous"></script>
        <script src="{% static 'plataforma/vendors/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'plataforma/vendors/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'plataforma/vendors/owl-carousel/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'plataforma/vendors/aos/js/aos.js' %}"></script>
        <script src="{% static 'plataforma/js/landingpage.js' %}"></script>
        <!-- Bot -->
        <script>
                    window.addEventListener('mouseover', initLandbot, { once: true });
                    window.addEventListener('touchstart', initLandbot, { once: true });
                    var myLandbot;
                    function initLandbot() {
                    if (!myLandbot) {
                        var s = document.createElement('script');s.type = 'text/javascript';s.async = true;
                        s.addEventListener('load', function() {
                        var myLandbot = new Landbot.Livechat({
                            configUrl: 'https://chats.landbot.io/v3/H-1177665-R04N72HNQCFH2AXF/index.json',
                        });
                        });
                        s.src = 'https://cdn.landbot.io/landbot-3/landbot-3.0.0.js';
                        var x = document.getElementsByTagName('script')[0];
                        x.parentNode.insertBefore(s, x);
                    }
                    }
        </script>
        <!-- Preloader -->
        <script>
            $(window).on("load",function(){
                function show_popup(){
                    $(".loader-wrapper").fadeOut("slow")
                    $(".loader-wrapper").css("display","none")
                    $("#body").css("overflow", "visible")
                    $(".display").css("display", "initial")
                };
                    
                window.setTimeout(show_popup, 1500); // 5 seconds
            });
        </script>
    </body>
</html>
