body{
    background-image: url("https://cdn.discordapp.com/attachments/897304698468565022/954634653346725941/error500.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #000 !important;;
}
