@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins',
        sans-serif;
    box-sizing: border-box;
}


.sidebar {
    background-image: linear-gradient(to right, #252525 0%, black 100%);
    min-height: 100vh;
}

.logo {
    font-size: 5em;
    color: white;
}

.titulo {
    font-size: 2.5em;
    font-weight: bold;
    border-bottom: 2px solid #d8a20c;
    display: inline;
}

.img_logo_sidebar {
    width: 70px;
}

.descricao {
    font-size: 1.3em;
}

.btn_logar {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    padding: 15px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    transition: 0.5s;
}

.btn_logar:hover {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255)
}

.area_cadastrar {
    background-image: linear-gradient(to left, #434343 50%, black 100%);
}

.titulo_area_cadastrar {
    font-size: 50px;
    color: #ffffff;
    font-weight: 900;
}

input::placeholder {
    color: rgb(97, 97, 97)
}

.input_cadastrar {
    width: 60%;
    border: none;
    background-color: #C4C4C4;
    padding: 10px;
    outline: 0;
    font-size: 20px;
    border-radius: 10px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 10px;
    padding-left: 70px;
}

.input_cadastrar_nome {
    background-image: url('/static/autenticacao/img/user-solid.svg');
}

.input_cadastrar_email {
    background-image: url('/static/autenticacao/img/envelope-solid.svg');
}

.input_cadastrar_senha {
    background-image: url('/static/autenticacao/img/lock-solid.svg');
}

.btn_cadastrar {
    background-color: #000000;
    border: none;
    color: white;
    font-size: 30px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-top: 4%;
    transition: 0.5s
}

.btn_cadastrar:hover {
    opacity: 0.5;
}

@media (max-width:991px) {
    .sidebar {
        background-image: linear-gradient(to bottom, #252525 0%, black 100%);
        min-height: 100vh;
    }

    .area_cadastrar {
        background-image: linear-gradient(to top, #434343 50%, black 100%);
    }
}